@import url('/css/base.css');
hr {margin: 50px 0; border-top: 1px dashed rgb(188, 188, 219);}
section {margin-left: 20px;}
article {margin-top: 20px;}
img {display: inline-block; }
h2:before {content: '[';}
h2:after {content: "]";}

/* moon */
.moon img {display:block; width: 300px; height: auto; position: relative; box-shadow: 0 0 5px rgba(0,0,0,0.2); border-radius: 20px;}

/* 2_Basic_callenge */
.pc .noneFlow {position: relative; width:500px; height:500px; overflow: hidden;}
.pc .noneFlow .box {width:100%; position: absolute; bottom:-340px; transform: translateY(-40px); background-color:#aaa;}
.pc .noneFlow .box img {margin:0 auto; box-shadow:none;}
.pc .noneFlow .box .btn {display:block; width:100%; height:40px;}
.pc .noneFlow .box .btn button {display:block; width:100%; height:100%; background-color:#fff; border:1px solid #eee; box-sizing:border-box; cursor:pointer;}
.pc .noneFlow .box .btn:hover {background-color:#eaa;}

.mob {margin-left: 0;}
.mob .noneFlow .box {width:100%; position:fixed; left:0; background-color:#aaa;}
.mob .noneFlow .box img {width:100%; max-width:300px; max-height:300px; margin:0 auto; box-shadow:none;}
.mob .noneFlow .box .btn {display:block; width:100%; height:40px;}
.mob .noneFlow .box .btn button {display:block; width:100%; height:100%; background-color:#fff; border:1px solid #eee; box-sizing:border-box;}

.normalBox {display:block; width:100%; height:200px;}
.normalBox:nth-of-type(1) {background-color:#eaa;}
.normalBox:nth-of-type(2) {background-color:#aea;}
.normalBox:nth-of-type(3) {background-color:#aee;}
.normalBox:nth-of-type(4) {background-color:#eae;}

.mob {display:none;}

@media (max-width: 1024px ){
    .mob {display:block;}
    .pc {display:none;}
}